* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem; 
    font-weight: 600; 
    letter-spacing: 1px; 
    color: #173CF5;
    line-height: 1.2;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin: 50px 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Her satırda otomatik olarak minimum 250px genişliğinde kartlar olacak */
    gap: 30px;
    padding: 40px;
    width: 100%;
}

.project-card {
    position: relative;
    background-color: lightblue;
    border-radius: 15px; /* Kartın köşelerini yuvarlatmak için */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Hafif bir gölge */
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05); /* Hover sırasında büyütme */
    opacity: 0.9;
}

.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Görsellerin düzgün bir şekilde sığmasını sağlar */
    transition: transform 0.3s ease;
}

.project-card:hover img {
    transform: scale(1.1); /* Hover ile görselleri büyütme */
}

.project-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Karanlık bir arka plan */
    padding: 20px;
    border-radius: 10px;
}

.project-info h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.project-info p {
    font-size: 1rem;
    color: #bbb;
}

.photo-container {
    display: flex;
    gap: 20px;
}
